body { 
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    display: flex;    
    justify-content: center;    
    align-items: center;    
    flex-direction: column;
    margin-top: 200px;    
}


    .spinner {
        --clr: rgb(255, 255, 255);
        --gap: 6px;
          /* gap between each circle */
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);
       }
       
       .spinner span {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: var(--clr);
        opacity: 0;
       }
       
       .spinner span:nth-child(1) {
        animation: fade 1s ease-in-out infinite;
       }
       
       .spinner span:nth-child(2) {
        animation: fade 1s ease-in-out 0.33s infinite;
       }
       
       .spinner span:nth-child(3) {
        animation: fade 1s ease-in-out 0.66s infinite;
       }
       
       @keyframes fade {
        0%, 100% {
         opacity: 1;
        }
       
        60% {
         opacity: 0;
        }
       }
       

       /*botão arrastar*/

       .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
       }
       
       .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #b1dae7;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
       }
       
       .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #000000;
       }
       
       .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #000000;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
       }
       
       .cta:hover:before {
        width: 100%;
        background: #65dbff;
       }
       
       .cta:hover svg {
        transform: translateX(0);
       }
       
       .cta:active {
        transform: scale(0.95);
       }

footer {
    font-size: 3px;
    display: flex;    
    justify-content: center;    
    align-items: center;    
    flex-direction: column;
    background-color: #000000;
    margin-top: 400px;
}

a {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration: none;    
}